.timeline{
  height: auto;
  background: url(../img/dot.png) repeat-y center;
  background-size: 10px;
  margin-bottom: 50px;
}
.lead{
  text-align: center;
}
.xs-act{
  display: none;
}
@media screen and (max-width:350px) {
  .more{
    height: 0;
    display: none;
  }
  .text-center,.text-right{
    text-align: left;
  }
  h1{
    text-align: center;
  }
  h2{
    font-size: 22px;
  }
  .timeline{
    height: auto;
    background: url(../img/dot.png) repeat-y left;
    background-size: 10px;
    margin-bottom: 50px;
  }
  .xs-act{
    display:block;
  }
  .xs-act img{
    width: 100px;
  }
  .md-act{
    display: none;
  }
}

.blend-down{
  background: -moz-linear-gradient(top,  rgba(206,242,255,1) 66%, rgba(206,242,255,0.71) 76%, rgba(125,185,232,0) 100%);
background: -webkit-linear-gradient(top,  rgba(206,242,255,1) 66%,rgba(206,242,255,0.71) 76%,rgba(125,185,232,0) 100%);
background: linear-gradient(to bottom,  rgba(206,242,255,1) 66%,rgba(206,242,255,0.71) 76%,rgba(125,185,232,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cef2ff', endColorstr='#007db9e8',GradientType=0 );
}
.blend-up{
  background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(206,242,255,0.71) 24%, rgba(206,242,255,1) 34%);
background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(206,242,255,0.71) 24%,rgba(206,242,255,1) 34%);
background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(206,242,255,0.71) 24%,rgba(206,242,255,1) 34%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#cef2ff',GradientType=0 );
}
.blend{
  background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(206,242,255,1) 25%, rgba(206,242,255,1) 75%, rgba(206,242,255,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(206,242,255,1) 25%,rgba(206,242,255,1) 75%,rgba(206,242,255,0) 100%);
  background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(206,242,255,1) 25%,rgba(206,242,255,1) 75%,rgba(206,242,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#00cef2ff',GradientType=0 );

}
